name: "PR linter"

on:
  pull_request_target:
    types:
    - opened
    - edited
    - reopened

jobs:
  validate:
    uses: ryse-rs/.workflows/.github/workflows/pr-lint.yml@main
    permissions:
      pull-requests: read
      contents: read
      models: read
    secrets: inherit
