name: Rust CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "**"

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal

      # caches rust dependencies, will improve speed
      # Thought we should be careful and monitor cache size over time.
      - name: Cache Cargo registry
        uses: actions/cache@v2
        with:
          path: ~/.cargo/registry
          key: ${{ runner.os }}-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-

      - name: Format with rustfmt
        run: cargo fmt --all -- --check

      - name: Lint with clippy
        run: cargo clippy --all -- -D warnings

      - name: Cargo test
        run: cargo test --all --verbose

      - name: Cargo build
        run: cargo build --release
