name: Rust CI

on:
  push:
    branches: [main]
  pull_request:
    branches: ["**"]

env:
  CARGO_TERM_COLOR: always

jobs:
  inspection-quality-checks:
    name: "Inspection: Quality Checks (fmt, clippy, build, unit tests)"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable

      # caches rust dependencies, will improve speed
      # Thought we should be careful and monitor cache size over time.
      - name: Cache ~/.cargo
        uses: actions/cache@v4
        id: cargo_cache
        with:
          key: cargo2-${{ hashFiles('Cargo.lock', '**/Cargo.toml') }}
          path: |
            ~/.cargo/bin
            ~/.cargo/git
            ~/.cargo/registry

      - name: Format with rustfmt
        run: cargo fmt --all -- --check

      - name: Lint with clippy
        run: cargo clippy --all --all-features --tests -- -D warnings

      - name: Cargo test
        run: cargo test --all-features --verbose

      - name: Cargo build
        run: cargo build --release
